h2 {
  text-align: center;
  color: #50394c;
  text-shadow: 2px 2px #ffef96;
}

p {
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
  font-family: 'Encode Sans Condensed', sans-serif;
  color: #50394c;
  background-color: #f4e1d2;
  width: 70%;
  border-radius: 15px;
}
p:hover {
  padding: 20px;
  font-size: 1.5em:
}

#btn {
  background-color: #50394c;
  border-radius: 10px;
  color: #ffef96;
  padding: 5px;
}

#btn:hover {
  font-weight: bold;
  padding: 10px;
}
